/* app css stylesheet */
*{
    margin: 0;
    padding: 0;
}
a{
    color: #96abbb;
    text-decoration: none;
    cursor: pointer;
}
ul{
    list-style: none;
}
.index-aside{
    float: left;
}
.index-view{
    margin-left: 210px;
    float: left;
}
/** 侧边栏样式 **/
.aside-menu {
    position: fixed;
    left: 0;
    width: 200px;
    height: 100%;
    font-family: "FontAwesome", "微软雅黑", sans-serif;
    font-size: 14px;
    line-height: 40px;
    background-color: #1c2b36;
}
.aside-menu li a{
    display: block;
    padding-left: 25px;
    cursor: pointer;
}
.aside-menu li a:hover{
    background-color: #16232d;
    color: white;
}
.aside-menu-tips{
    padding-left: 15px;
    font-size: 12px;
    color: #5c798f;
}
.aside-menu-head{
    padding-left: 20px;
    font-size: 18px;
    color: #96abbb;
}
.menu_msc_cont{
    display: none;
}
.menu_msc_cont > ul >li > a > span{
    margin-left: 40px;
}
/**  通用样式 **/
.mag-right-20{
    margin-right: 20px;
}
.mag-right-10{
    margin-right: 10px;
}