/**
 * author: hy
 * decs: 辅助工具
 * time: 2018/3/1
 */
body,div,a,span,button,textarea,input,h1,h2,h3,h4,h5,h6,ul,li{
    margin: 0 0;
    padding: 0 0;
    font-family: "微软雅黑 Light", '微软雅黑';
    outline-style: none;
}
textarea{
    display: block;
    margin: 10px auto;
    border-color: #1c2b36;
    border-radius: 4px;
}
ul {
    list-style: none;
}
.title{
    display: block;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: white;
    background-color: #1c2b36;
}
.input {
    position: absolute;
    left: 0;
    width: 30%;
}
.lang{
    position: absolute;
    z-index: 99;
    left: 30%;
    width: 30%;
    min-width: 110px;
    height: 100%;
    background-color: #1c2b36;
    color: #96abbb;
}
.lang a{
    display: inline-block;
    width: 49%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}
.lang a:hover{
    background-color: #40535E;
    color: white;
}
.output{
    position: absolute;
    left: 60%;
    width: 40%;
}
.tips{
    position: absolute;
    z-index: 1;
    left: 85%;
    top: -20px;
    color: red;
}
/*  提示弹出动画 */
@keyframes tip_anim {
    0% { top: -20px; }
    25% { top: 20px; }
    75% { top: 20px; }
    100% { top: -20px; }
}
@-webkit-keyframes tip_anim {
    0% { top: -20px; }
    25% { top: 20px; }
    75% { top: 20px; }
    100% { top: -20px; }
}