* {
    margin: 0;
    padding: 0;
}

.body-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(45deg, rgba(252, 53, 76, .8), rgba(10, 191, 188, .8));
}

.container {
    display: flex;
}

.container .title-container {
    flex-grow: 1;
    height: 100vh;
}

.container .title-container > div {
    width: 60px;
    height: 100px;
    position: relative;
    top: 30%;
    font-size: 44px;
    color: black;
    font-weight: bolder;
    transform: rotateZ(90deg);
}

.container .content-container {
    flex-grow: 5;
    height: 100vh;
}

.content-box {
    position: relative;
    z-index: 100;
    margin: 20px 30px;
    height: 93vh;
    overflow: hidden;
}

.content-box .container-bg {
    position: absolute;
    margin-top: -20px;
    margin-left: -15px;
    width: 100vw;
    height: calc(100vh - 30px);
    background-color: rgba(0, 0, 0, .2);
    filter: blur(10px);
}

.demoBox {
    margin: 8px 16px;
    position: relative;
    z-index: 999;
}

.box {
    display: inline-block;
    width: 210px;
    height: 280px;
    box-sizing: border-box;
    margin-bottom: 8px;
    margin-right: 8px;
    background-color: rgba(0, 0, 0, .3);
    color: rgba(255, 255, 255, .9);
}

.box header {
    height: 30px;
    padding: 8px;
    font-size: 20px;
}

.box div {
    height: 190px;
    border-bottom: rgba(255, 255, 255, .1) solid 1px;
    border-top: rgba(255, 255, 255, .1) solid 1px;
    margin: 0 8px;
    word-break: break-word;
    color: rgba(255, 255, 255, .7);
}

.box footer {
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
    line-height: 30px;
    font-size: 24px;
}

.box footer a {
    text-decoration: none;
    float: right;
    color: white;
}
