* {
    margin: 0;
    padding: 0;
}

body {
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-variant: tabular-nums;
    line-height: 1.5;
    background-color: #fff;
    -webkit-font-feature-settings: 'tnum', "tnum";
    font-feature-settings: 'tnum', "tnum";
}

a {
    color: #96abbb;
    text-decoration: none;
    cursor: pointer;
}

body {
    height: 100vh;
    overflow: hidden;
    background-image: url("../img/frosted.bg.jpg");
}

.container {
    position: relative;
    transition: top 1s;
}

.container > div {
    height: 100vh;
    overflow: hidden;
}

/**************** summary**********************/
.summary {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.summary > div {
    flex-grow: 1;
    height: inherit;
}

.summary .title {
    text-align: right;
}

.summary .title div:first-child {
    margin-top: 24vh;
    font: 98px serif;
    position: relative;
    left: 51px;
    height: 92px;
    animation: titleUpIn 3s;
}

.summary .title .special-word {
    position: relative;
}

.summary .title .special-word:after {
    position: absolute;
    width: 60px;
    left: 0;
    content: '鸣';
    color: white;
    clip-path: polygon(101% 0, 287% 100%, 78% 100%, 78% 0);
}

.summary .banner div {
    height: inherit;
    background-image: url("../img/AlbertaThanksgiving_ZH-CN5899007960_192x108.jpg");
    background-size: cover;
}

.summary .bar {
    display: inline-block;
    width: 230px;
    height: 3px;
    background-color: #F59F70;
    animation: barMove 2s;
}

.summary .tips {
    animation: tipsDownIn 4s;
}

.summary .extraLink {
    animation: extraLinkDownIn 6s;
}

/*显示条滑动*/
@keyframes barMove {
    0% {
        width: 0;
    }
    100% {
        width: 230px;
    }
}

/*文字上浮*/
@keyframes titleUpIn {
    0% {
        top: 92px;
        display: none;
        opacity: 0;
    }
    50% {
        display: none;
        opacity: 0;
    }
    100% {
        top: 0;
        display: block;
        opacity: 1;
    }
}

/*小文字下滑*/
@keyframes tipsDownIn {
    0% {
        top: -22px;
        display: none;
        opacity: 0;
    }
    50% {
        display: none;
        opacity: 0;
    }
    100% {
        top: 0;
        display: block;
        opacity: 1;
    }
}

@keyframes extraLinkDownIn {
    0% {
        top: -22px;
        display: none;
        opacity: 0;
    }
    50% {
        display: none;
        opacity: 0;
    }
    100% {
        top: 0;
        display: block;
        opacity: 1;
    }
}



/****************** demo ***********************/
.demo {
    margin-left: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 8px;
}

.demo  .demo-box {
    display: inline-block;
    margin: 3px;
    width: 300px;
    height: 220px;
    flex-grow: 0;
    overflow: hidden;
    box-sizing: border-box;
    border: white 7px solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0 0 3px;
    background-color: white;
}
.demo .demo-box:hover {
    box-shadow: rgba(0, 0, 0, 0.55) 0 0 6px;
}
.demo-box img{
    width: 300px;
    height: 150px;
}

/********************* menu **************************/
.menu {
    position: fixed;
    top: 30%;
    list-style: none;
}

.menu li {
    margin-bottom: 30px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

.menu li:before {
    content: '';
    width: 8px;
    height: 11px;
    display: inline-block;
    margin-right: 8px;
}

.menu li:not([class='active']):hover {
    color: rgba(0, 0, 0, 0.65);
}

.menu li[class='active'] {
    color: rgba(0, 0, 0, 0.75);
}

.menu li[class='active']:before {
    background-color: #F59F70;
}
